.warp {
  display: flex;
  height: 82vh;

  .left {
    width: 30%;
    margin-right: 20px;
    border: 1px solid #ccc;
  }

  .center {
    flex: 1;
    margin-right: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  .right {
    width: 30%;
    border: 1px solid #ccc;
  }
}